table {
    border-collapse: collapse;
    width: 100%;
}

.orderList {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.orderList th, td {
    border: 1px solid #ff6361;
    padding: 8px;
    text-align: left;
}

.orderList th {
    background-color: #ff6361;
    color: white;
}

.orderList h1 {
    color: white;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    color: white;
    background-color: #ff6361;
    border: none;
    display: inline-block;
}

button:hover {
    transition: 0.5s;
    background-color: white;
    color:  #ff6361;
}